.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: 'IceCaps';
  src: local("IceCaps"), url("./Assets/Fonts/ice_caps/IceCaps.ttf") format("truetype")
}
@font-face {
  font-family: 'Textile-Regular';
  src: local("Textile-Regular"), url("./Assets/Fonts/Textile_Regular/Textile-Regular.ttf") format("truetype")
}

@font-face {
  font-family: 'Aboreto';
  src: local("Aboreto"), url("./Assets/Fonts/Aboreto/Aboreto-Regular.ttf") format("truetype")
}
@font-face {
  font-family: 'LetterMagic';
  src: local("LetterMagic"), url("./Assets/Fonts/Letter_Magic/LetterMagic.ttf") format("truetype")
}
@font-face {
  font-family: 'TimeBurner';
  src: local("TimeBurner"), url("./Assets/Fonts/timeburner-font/Timeburner-xJB8.ttf") format("truetype")
}
@font-face {
  font-family: 'TimeBurner-bold';
  src: local("TimeBurner-bold"), url("./Assets/Fonts/timeburner-font/TimeburnerBold-peGR.ttf") format("truetype")
}